canvas {
	border: 1px solid black;
	width: 800px;
	height: 800px;
}

p, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

div.puzzle_box {
}

div.puzzle_menu {
    float: left;
    background-color: #FFF;
    overflow-y: auto;
    white-space: nowrap;
    height: 800px;
    width: fit-content;
}

div.puzzle_menu img {
    display: block;
    padding: 0px;
}

div.puzzle_menu img:hover {
    background-color: #777;
}

.waiter {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}