#canvas {
	order: 1;
	flex: 1, 1, auto;
	display: inline-block;
	width: 800px;
	height: 800px;
}

#custom_image_file {
    width: 100%;
}

body {
    margin: 80px;
}

p, h1, h2, h3, button, legend {
    font-family: 'Roboto', sans-serif;
}

div.puzzle_menu {
    order: 0;
    flex: 0, 1, auto;
    background-color: #FFF;
    overflow-y: auto;
    white-space: nowrap;
    height: 800px;
    width: fit-content;
}

div.puzzle_menu img {
    display: block;
    padding: 0px;
}

div.puzzle_menu img:hover {
    background-color: #777;
}

.puzzle_area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.puzzle_options {
    order: 2;
    flex: 0, 1, auto;
    display: inline-block;
    height: 800px;
    text-align: center;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 5px #999;
}

.button:hover {
    background-color: green;
}

.button:active {
    background-color: green;
    box-shadow: 0 2px #777;
    transform: translateY(4px);
}

.button:disabled {
    background-color: grey;
}

.waiter {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}